<% layout('layouts/boilerplate')%>
<h1 class = index-title>All Artists</h1>


<div class = alphabet-bar>
    <a class = all href="/artists">ALL</a>
    <a class = alpha-href href="/artists/a">A</a>
    <a class = alpha-href href="/artists/b">B</a>
    <a class = alpha-href href="/artists/c">C</a>
    <a class = alpha-href href="/artists/d">D</a>
    <a class = alpha-href href="/artists/e">E</a>
    <a class = alpha-href href="/artists/f">F</a>
    <a class = alpha-href href="/artists/g">G</a>
    <a class = alpha-href href="/artists/h">H</a>
    <a class = alpha-href href="/artists/i">I</a>
    <a class = alpha-href href="/artists/j">J</a>
    <a class = alpha-href href="/artists/k">K</a>
    <a class = alpha-href href="/artists/l">L</a>
    <a class = alpha-href href="/artists/m">M</a>
    <a class = alpha-href href="/artists/n">N</a>
    <a class = alpha-href href="/artists/o">O</a>
    <a class = alpha-href href="/artists/p">P</a>
    <a class = alpha-href href="/artists/q">Q</a>
    <a class = alpha-href href="/artists/r">R</a>
    <a class = alpha-href href="/artists/s">S</a>
    <a class = alpha-href href="/artists/t">T</a>
    <a class = alpha-href href="/artists/u">U</a>
    <a class = alpha-href href="/artists/v">V</a>
    <a class = alpha-href href="/artists/w">W</a>
    <a class = alpha-href href="/artists/x">X</a>
    <a class = alpha-href href="/artists/y">Y</a>
    <a class = alpha-href href="/artists/z">Z</a>
</div>
<% if(users.length>0) {%> 
    <p class = page-number>Page  <%=page%> of <%=Math.ceil(totalLength/10)%></p>
<%}%>
<ul>
    <!-- Iterates through all users in the passed array
    If the artist has uploaded art, show thumbnails
    Otherwise, display the text 'This artist has not uploaded any art yet' -->
    <% for(let user of users) {%>
        <li class = artist-card> 
            <h4 class = artist-name><%=user.username%> </h4>
            <% if(user.artpieces.length == 0) {%> 
                <h4 class = no-art>This artist has not uploaded any art yet</h4>
            <%}%>
            <% if(user.artpieces.length > 0) {%> 
                <h4 class = recent-caption>Most Recent Uploads:</h4>
            <%}%>
            <div class = card-art>
                
                <% if(user.artpieces.length < 3 && user.artpieces.length > 0) {%> 
                    <% for(let artpiece of user.artpieces.slice().reverse()) {%>
                        <a href="/artpieces/<%=artpiece._id %>">
                            <img class = index-img src="<%= artpiece.image.url %> ">
                        </a>
                    <%}%>
                <%}%>
            
                <% if(user.artpieces.length >= 3) {%> 
                    <% for(let i = user.artpieces.length - 1,c = 0; c<3; c++, i--) {%>
                        <a href="/artpieces/<%=user.artpieces[i]._id %>">
                            <img class = index-img src="<%= user.artpieces[i].image.url %> ">
                        </a>
                    <%}%>
                <%}%>
            </div>
            <a  class = profile-link href="/user/<%=user._id%>">Go to Profile</a>
        </li>
    <%}%>
</ul>
<div class = 'page-bar'>
    <!-- page renders a navigation bars that shows the number of pages in the list
    limit(number of entires per page) is set to 10 -->
    <% for(let i = 1 ; i <= Math.ceil(totalLength/10); i++) {%> 
        <a class = 'page-href' href="/artists?page=<%=i%> &limit=10"><%=i%> </a>
    <%}%>
</div>
